* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-decoration:none;    
}

/* редактирование headerA */

header {
    display: flex;
    background-color: #333;
    min-height: 45px;
    justify-content: space-between;    
}

.nav_menu {
    display: flex;
    justify-content: space-between;
}

.nav_menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
}

.blog_logo {
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 4px;
}

.nav_menu_link {
    padding: 15px;
    color: white;
}  

/* редактирование мэйна и начало гридов */

.blog_gridstart {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 650px 300px;
    justify-content: center;
    grid-auto-flow: column;
    background-color: #F5F5F5;
    padding-top: 45px;
}

.maingrid {
    grid-column: 1/2;
    max-width: 650px;           
}

.maingrid_post {
    display: grid;
    padding: 18px; 
    align-content: center;   
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #0000001c;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);    
}

.main_postfoto {
    width: 600px;
    height: 200px;
}

.maingrid_post img {
 object-fit: fill;
}

.maingrid_post h1 {
    font-size: 24px;
    font-weight: 900;
    color: #464646;
    margin: 20px 0 20px 0;
}

.maingrid_post h2 {
    font-size: 14px;
    font-weight: 400;
    color: #464646;    
}

.post_avtor {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #464646;
}

.post_avtor img {
    height: 33px;
    width: 33px;
}

.post_avtor a {
    margin: 5px;
    color: #464646;
    display: flex;
    align-items: center;
}

.post_avtor time {
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding-left: 5px;
}

/* редактирование бокового меню */

.blogaside {
    grid-column: 2/3;
    max-width: 300px;
    align-self: center;
    border: 1px solid black;
    background-color: #fff;
    align-self: auto;
    border: 1px solid #0000001c;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;    
}
 
/* ссылки на соцсети */

.follow_grid {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: 40px 40px;
    grid-gap: 15px;
    grid-auto-flow: row;
}

.follow_svg a {
    display: grid;
    grid-area: 1 / 6 / 1 / 3;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 50%;  
    width: 40px;
    height: 40px;
    transition: .3s ease-in-out;
}

.follow_svg a img {
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 30px;
}

.follow_svg a:hover {
    background-color: rgba(0,0,0,0.15);
    transition: .666s ease-in-out;
}

.follow_svg:nth-child(1) a {
    border-color: #1240AB;    
}

.follow_svg:nth-child(2) a {
    border-color: #40ACFF;    
}

.follow_svg:nth-child(3) a {
    border-color: #FF4100;    
}

.follow_svg:nth-child(4) a {
    border-color: #EECFBA;    
}

.follow_svg:nth-child(5) a {
    border-color: #A60400;    
}

.follow_svg:nth-child(6) a {
    border-color: #FF0018;    
}

.follow_svg:nth-child(7) a {
    border-color: #08A600;    
}

.follow_svg:nth-child(8) a {
    border-color: #FFC900;    
}

.follow_svg:nth-child(9) a {
    border-color: #0018FF;    
}

.follow_svg:nth-child(10) a {
    border-color: #FF4F00;    
}

/* форма поиска */

.blogaside_saerch {
    margin: 30px 15px;
}

.blogaside_saerch input[type=search] {
    padding: 15px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 0 auto;    
    font-size: 14px;
    width: 250px;
    height: 45px;
}
 
/*  рисент постс*/

.recentposts ol{
  counter-reset: myCounter;
  margin: 15px;
  padding: 0;
}

.recentposts p, .blogaside_follow p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-top: 2px solid rgba(0, 0, 0, .1);
    margin: 18px 15px;
    padding: 12px 0;  
}

 /*   ПОЛОСА НАД ТЕКСТОМ ?*/ 

.recentposts a {
    display: flow-root;   
}

.recentposts li{
  list-style: none;
  color: #464646;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.recentposts li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: #464646;
  display: inline-block;
  border: 1px solid #464646;
  border-radius: 50%;
  text-align: center;
  margin: 10px 10px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-family: 'Lato', sans-serif;
}