header {
	display:flex;
	background-color: #035DE4;
	color: white;
	text-decoration:none;	
}

.navigation {
	display: flex;
	justify-content: flex-end;
	float: right;
}

header ul li {
	align-items: flex-end;
	display: inline-flex;
	margin: 0 auto;	
	justify-content: flex-end;
}

header a {
	text-decoration: none;

}

.logo {
	display: flex;
	text-decoration: none;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
}
